body {
    
   background-image:linear-gradient(90deg, #f5b6f5, #3c043c);
    width:960px;
    margin-right: auto;
    margin-left: auto;
    
}

header {
    
    text-align: center;
    border-bottom: 4px solid grey;
}

a {
    
    color: red;
}

myVideo {
    
    display:flex;
    justify-content: space-between;
}


MyMain {
    
    display: flex;
    justify-content: space-between;
}

.main {
    
    border: 5px solid green;
    text-align: center;
}

.first, .third {
    
    flex: 1;
}

.second {
    
    flex: 2;
    order: 1;
}

footer {
    
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background:#e087e0;
} 

footer p {
    
    width: 50%;
}





















